<p>
    ברוך הבא חצקל חצקלוביץ'!
</p>
<button (click)="joj()">
    לביצוע פעולה בחשבון 
</button>
<p>
    להלן פרטי חשבונך בבנק חצקל:
</p>

<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            AccountId
        </th>
        <th>
            Type
        </th>
        <th>
            Amount
        </th>
    <tr>
        <td>
            טור1
        </td>
        <td>
            טור1
        </td>
        <td>
            טור2
        </td>
        <td>
            טור3
        </td>
    </tr>
    <tr>
        <td>
            טור1
        </td>
        <td>
            טור1
        </td>
        <td>
            טור2
        </td>
        <td>
            טור3
        </td>
    </tr>
</table>